@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .l-wrapper,
    .l-wrapper--boxed,
    main>.notifications-container {
        max-width: 1280px;
    }
}

body .account-links body .link-item, body .address, body .block-categories, body .card, body .card-block, body .left-column .search_filters, body .page-wrapper {
    border: none;
}