.menu {
  padding-bottom: $spacer;
  background-color: #f0f0f0;
  padding: 30px 0 100px 0;
  display: none;
}

.menu>.container {
  display: flex;
  align-items: flex-start;
}

.banner-inside-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 40px;
}

.menu-top {
  /* display: flex; */
  /* justify-content: center; */
  margin: 0;
  position: relative;
  column-count: 3;
}

.menu-top a {
  color: #000;
}

.menu-top>li.category.menu__item {
  margin: 0 0 20px 0;
  page-break-inside: avoid;
  break-inside: avoid-column;
  display: table;
}

.menu__item-link--top {
  color: $menu-topitem-color;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}

@include media-breakpoint-desktop {
  .menu__item-header {
    height: 100%;
  }

  .menu-sub {}

  .menu-sub__content>ul {}

  .menu__item--active .menu-sub {}

  .menu-sub__list--1 {}

  .menu__item--1 {}

}

//mobile
@include media-breakpoint-mobile() {
  .menu-top {
    flex-direction: column;
    margin-bottom: $spacer;
  }

  .menu-sub {
    width: 100%;
    transition: all .3s ease-out;
  }

  //remove padding from container class
  .menu-sub__content {
    padding: 0;
  }

  .menu__item-link--top {
    padding: 0;
  }

  .top-menu-mobile {
    margin-right: -$modal-inner-padding;
    margin-left: -$modal-inner-padding;
  }

  .menu__item {
    //padding: $spacer/2;
    border-bottom: 1px solid $menu-item-border-color;
    border-top: 1px solid $menu-item-border-color;
  }

  .menu__item--top:not(:first-child) {
    border-top: 0;
  }

  .menu__item--sub:last-child,
  .menu__item--sub:first-child:not(:last-child) {
    border-bottom: 0;
  }

  .menu__item-header {
    display: flex;
    justify-content: space-between;
    padding: $menu-item-padding;
  }

  .menu__item-link--nosubmenu {
    padding: $menu-item-padding;
    display: block;
  }

  .menu-sub.show {
    background: $menu-sub-mobile-bg-color;
  }

  //increase offset
  .menu__item--1 {

    .menu__item-link--nosubmenu,
    .menu__item-header {
      margin-left: 10px;
    }
  }

  .menu__item--2 {

    .menu__item-link--nosubmenu,
    .menu__item-header {
      margin-left: 20px;
    }
  }

  .menu__item--3 {

    .menu__item-link--nosubmenu,
    .menu__item-header {
      margin-left: 30px;
    }
  }
}

#mobile_top_menu_wrapper {
  &.modal {
    .modal-header {
      border-bottom: 0;
    }

    .modal-body {
      padding-top: 0;
    }
  }
}

.menu__collapseicon {
  width: 3rem;
  height: 1.5rem;
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  text-align: center;
}