//color

$bg-dark : #dededd;
$tertiary: #f39d72;

//option
$enable-fluid-layout: false;


/* HEADER */
$header-bg: $white;
$header-box-shadow: none;
$header-nav-bg-color: null;
$header-nav-color: $body-color;
$header-nav-padding-y: null;
$header-nav-border-color: $border-color;
$header-top-border-color: $header-nav-border-color;
/* MAIN */
$spacer-y : $spacer*2;
$wrapper-bg: #ffffff;
/* FOOTER */
$footer-bg: $white;
$footer-container-margin-top: $spacer;